{% load static %}

{% block header %}
        {% include 'main/header.html' %}
{% endblock header %}

{% block navbar %}
        {% include 'main/nav_bar.html' %}
{% endblock navbar %}

{% block banner %}
        {% include 'aboutcomponents/banner.html' %}
{% endblock banner %}

{% block our_story %}
        {% include 'aboutcomponents/about_story.html' %}
{% endblock our_story %}

{% block our_journy %}
        {% include 'aboutcomponents/our_journy.html' %}
{% endblock our_journy %}

{% block Values %}
        {% include 'aboutcomponents/values.html' %}
{% endblock Values %}

{% block gallery %}
        {% include 'aboutcomponents/galery.html' %}
{% endblock gallery %}

{% block Stores %}
        {% include 'aboutcomponents/stores.html' %}
{% endblock Stores %}